<tr id="row_<%= article.id %>">
	<td>
		<%= link_to truncate(h(article.title), 40), admin_article_url(article) %>
	</td>
	<td>
		<%= link_to article.category.title, "articles?category_id=#{article.category_id}" %>
	</td>
	<td>
		<%= time_only_date(article.created_at) %>
	</td>
	<td>
		<%= article.status_description %>
	</td>
	<td>
		<% if article.is_published == 0 %>
		<%= link_to image_tag("add.png", :title => "Publish", :alt => "Publish"),
			    publish_admin_article_url(article) %>
		<% end %>
		<% if article.is_published == 1 %>
		<%= link_to image_tag("cancel.png", :title => "Un-publish", :alt => "Un-publish"),
			    unpublish_admin_article_url(article) %>
		<% end %>
		<%= link_to image_tag("edit.png", :title => "Update", :alt => "Update"),
				  edit_admin_article_url(article) %>
		<%= link_to image_tag("delete.png", :alt => "Delete", :title => "Delete"), 
          :url => "/admin/articles/#{article.id}",
			    :method => :delete, :confirm => "Are you sure?" %>
	</td>
</tr>
