<% admin_page_title("Site Preferences") %>
<% form_for [:admin, @site_pref], :html => {:multipart => true} do |f| %>
<table class="simpleTable">
  <tr>
    <td class="left">Site Title</td>
    <td class="right">
      <%= f.text_field :title, :class => "text" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Site Slogan</td>
    <td class="right">
      <%= f.text_field :slogan, :class => "text" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Email Address</td>
    <td class="right">
      <%= f.text_field :email, :class => "text" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Site Domain</td>
    <td class="right">
      <%= f.text_field :domain, :class => "text" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Show projects in homepage?</td>
    <td class="right">
      Would you like to publish your latest 3 projects in your homepage?<br />
      <%= f.radio_button :show_projects, "0" %>No
      <%= f.radio_button :show_projects, "1" %>Yes 
    </td>
  </tr>
  <tr>
    <td class="left">Sidebar</td>
    <td class="right">
      <%= f.text_area :sidebar, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Links<br />(One link per line)</td>
    <td class="right">
      <%= f.text_area :links, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Re-Captcha Public Key</td>
    <td class="right">
      <%= f.text_field :recaptcha_public_key, :class => "text" %>  
      If you want to use captcha validations for user comments.. 
    </td>
  </tr>
  <tr>
    <td class="left">Re-Captcha Private Key</td>
    <td class="right">
      <%= f.text_field :recaptcha_private_key, :class => "text" %>  
      ..get your keys from http://recaptcha.net/
    </td>
  </tr>
  <tr>
    <td class="left">Google Analytics Code</td>
    <td class="right">
      <%= f.text_area :google_analytics, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Google Adsense Code</td>
    <td class="right">
      <%= f.text_area :google_adsense, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Gtalk Badge Code</td>
    <td class="right">
      <%= f.text_area :gtalk_badge, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Twitter Code</td>
    <td class="right">
      <%= f.text_area :twitter, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Addthis.com Button Code</td>
    <td class="right">
      <%= f.text_area :addthis, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Delicious Network Badge</td>
    <td class="right">
      <%= f.text_area :delicious, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Feedburner RSS Link</td>
    <td class="right">
      <%= f.text_field :feedburner, :class => "text" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Feed Description</td>
    <td class="right">
      <%= f.text_area :feed_description, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Working With Rails Recommendation Link</td>
    <td class="right">
      <%= f.text_area :workingwithrails, :class => "smallTextArea" %>  
    </td>
  </tr>
  <tr>
    <td class="left">Current Logo</td>
    <td id="currentLogo" class="right"><%= show_logo %><br /><%= delete_logo_link %></td>
    <td id="logoDeleteMsg">&nbsp;</td>
  </tr>
  <tr>
    <td class="left">Upload Logo</td>
    <td class="right">
      <%= f.file_field :logo %>  
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="right">
      <%= fancy_submit_button("Update") %>
    </td>
  </tr>
</table>
<% end %>
