<div class="span-16 headerOuter">
  <div class="header"><%= link_to @site_options.title, "/" %></div>
  <div class="slogan alt"><%= @site_options.slogan %></div>
</div>
<div class="span-6 last gtalkBadge">
  <%= render :partial => "layouts/gtalk_badge.html.erb" %> 
</div>
<hr />
<div class="menu">
  <%= top_menu %>
  <%= admin_menu %>
</div>
<% if @site_options.show_projects == 1 %>
<div class="toggleLatestProjects" style="float: right">
  <%= link_to_remote "+", :url => {:controller => :projects, :action => :toggle_show} %>
  <%= link_to_remote "-", :url => {:controller => :projects, :action => :toggle_hide} %>
</div>
<% end %>
