<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head> 
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Sopar - Login</title>
    <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
    <!--[if IE]>
    <%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %>
    <![endif]-->
  </head> 
  <body>
    <div class="container">
      <div class="span-24">
        <% if flash[:warning] %>
          <div class="error"><%= flash[:warning] %></div>
        <% end %>
        <% form_for :user, :url => {:action => "authenticate"} do |f| %>
          <fieldset>
            <legend>Sopar - Login</legend>
            <label for="user_username">Username</label><br>
            <%= f.text_field :username, :class => "text" %><br />
            <label for="user_password">Password</label><br>
            <%= f.password_field :password, :class => "text" %><br />
            <p>
            <%= check_box_tag :remember_me %> Remember me<br />
            </p>
            <!--<p class="buttons">-->
            <button style="width: 110px;" type="submit" class="button positive"><img src="/stylesheets/blueprint/plugins/buttons/icons/key.png" alt=""/> Let me in</button>
            <!--</p>              --> 
          </fieldset>
        </div>
      <% end %>
    </div>
  </body>
</html>
